<div class="pt-8 px-4 text-teal-800">
  <div class="flex w-full  justify-center">
    <img class="max-h-[150px]" [src]="event?.assets?.event_logo" alt="Rede Mais Brasil">
  </div>
  <h1 class="text-3xl lg:text-4xl font-extrabold font-display text-center text-blue-700" [innerHtml]="event?.title | sanitize"></h1>
  <h2 class="text-3xl lg:text-4xl pt-4 font-extrabold font-display text-center">{{event?.subtitle}}</h2>
  <h3 class="text-xl lg:text-2xl font-display pt-8 pb-4 font-bold text-center">
    {{event?.start_date?.date | date: 'longDate'}}
    <br />
    {{event?.start_time}}h às {{event?.end_time}}h
  </h3>
</div>

<div class="text-center py-4">
  <p [innerHtml]="event?.address | sanitize"></p>
</div>
