<section class="flex w-full">
  <div class="footer_container flex h-full w-full flex-grow flex-col gap-4">
    <div class="flex items-center justify-center">
      <img
        class="rounded-sm lg:hidden max-w-xs"
        src="/assets/logo-govro-vertical.png"
        alt="Secretaria de Estado do Planejamento Orçamento e Gestão"
      />
      <img
        class="hidden max-w-lg rounded-lg lg:flex"
        src="/assets/logo-govro-horizontal.png"
        alt="Secretaria de Estado do Planejamento Orçamento e Gestão"
      />
    </div>
  </div>
</section>
