<app-section class="text-gray-800 min-h-[50vh] bg-gray-100">
  <app-event [event]="eventConfig?.event" bg="/assets/hero.jpg" class=" shadow-lg rounded-lg"></app-event>
  <app-host [realization]="eventConfig?.realization"></app-host>
</app-section>

<!-- Inscrição -->
<app-section class="bg-white text-gray-800" *ngIf="eventConfig?.enabled?.subscription">
  <header>
    <h2
      class="font-display mb-8 text-2xl lg:text-5xl text-blue-600 font-extrabold"
    >
    {{eventConfig?.sections?.subscription?.header}}
    </h2>
    <div class="flex flex-col lg:flex-row gap-4">
      <div class="flex flex-col lg:w-1/2 order-2"
        [innerHtml]="eventConfig?.sections?.subscription?.article | sanitize">
      </div>
      <a target="_blank"
        class="flex flex-col items-center order-1 lg:w-1/2 justify-center p-4 rounded-lg bg-blue-500 text-blue-100 font-extrabold text-2xl hover:bg-gray-100 ease-in duration-300"
        [href]="eventConfig?.event?.subscription?.url | sanitize:'url'"
      >
      <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 lg:h-16 lg:w-16" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
      </svg>
        <span>{{ eventConfig?.event?.subscription?.label }}</span>
      </a>
    </div>
  </header>
</app-section>

<!-- Programação -->
<app-section class="bg-gray-100 text-gray-800" *ngIf="eventConfig?.enabled?.schedule">
  <header class="mb-8">
    <h2
      class="font-display mb-8 text-2xl lg:text-5xl text-blue-600 font-extrabold"
    >
    {{ eventConfig?.sections?.schedule?.header }}
    </h2>
    <p class="text-gray-500">
      {{ eventConfig?.sections?.schedule?.lead }}
    </p>
  </header>
  <app-schedule [event]="eventConfig?.event"></app-schedule>
</app-section>

<!-- Palestrantes -->
<app-section class="bg-blue-800 text-gray-100" *ngIf="eventConfig?.enabled?.speakers">
  <header>
    <h2
      class="font-display mb-8 text-2xl lg:text-5xl text-blue-200 font-extrabold"
    >
      {{ eventConfig?.sections?.speakers?.header }}
    </h2>
    <p class="text-gray-300">
      {{ eventConfig?.sections?.speakers?.lead }}
    </p>
  </header>
  <h2></h2>
</app-section>

<app-section class="bg-gray-800 text-gray-100" *ngIf="eventConfig?.enabled?.contact">
  <header class="mb-8">
    <h2
      class="font-display mb-8 text-2xl lg:text-5xl text-blue-600 font-extrabold"
    >
      Contato
    </h2>
    <p class="text-gray-400">
      Dúvidas ou sugestões, entre em contato com nossa equipe.
    </p>
  </header>
  <app-contact></app-contact>
</app-section>

<app-footer></app-footer>
